.gradient-background {
    background: linear-gradient(300deg, #d3d3d3, #383838, #d8d8d8);
    background-size: 180% 180%;
    /*animation: gradient-animation 18s ease infinite;*/
  }
  
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .position-static {
    position: static!important;
}

.modal-content {
 background-color: rgba(255, 255, 255, 0.459);
}

.bg-white{
  background-color: white;
}

#bg-dark{
  color: white;
  background-color: #303136;
}

.t-white{
  background-color: rgba(255, 255, 255, 0.623);
}

 
  